@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

p{
    font-size: 1rem;
}

section{
    padding: 2rem 0;
    margin-top: 2rem;
}

.navbar .nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
    border-left: 1px solid rgb(211, 208, 208);
}

.nav-item:nth-child(1){
    border: none;
}

.nav-link {
    color: rgb(29, 29, 29);
}

.nav-link:hover {
    color: #eaae3f;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prob-sol{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.prob, .sol{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #6b6b6b;
}

.prob span, .sol span{
    font-weight: bold;
}

.how-it-works{
    display: flex;
    gap: 1rem;
}

.left-s, .right-s{
    flex: 1;
}

.how-it-works p{
    display: flex;
    flex-direction: column;
}

.benefits{
    display: flex;
}

.benefits div{
    flex: 1;
}

.learn-more{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    display: flex;
    font-size: .8rem;
    justify-content: center;
    background-color: #161a23;
    color: #fbfbfb;
    padding: 4rem 0;    
}

.footer ul {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.footer ul li a {
    text-decoration: none;
    color: #fbfbfb;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer ul li a:hover {
    color: rgb(255, 182, 46);
}

@media screen and (max-width:768px) {
    .prob-sol, .how-it-works, .benefits{
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer ul{
        flex-wrap: wrap;
    }
}